<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tasks">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>All Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-task">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Add Task</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Pending Tasks</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
